rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Código simple en meta/config.passHash + login anónimo
    match /dias/{dia} {
      allow read, write: if request.auth != null;
    }
    match /meta/{doc} {
      allow read, write: if request.auth != null;
    }
  }
}
